#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 0.3em;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

input[type="checkbox"] {
  margin: auto 0.3em;
  width: 1.5em;
  height: 1.5em;
  cursor: pointer;
  border: 1px solid #1a1a1a;
  border-radius: 8px;
}

input[type="text"] {
  padding: 0.6em;
  font-size: 1em;
  font-weight: 500;
  border-radius: 8px;
  border: 1px solid #1a1a1a;
  margin: 0.3em;
}

label {
  font-size: 1.2em;
  font-weight: 500;
  margin: auto 0.3em;
  text-align: left;
}